<div class="container">
  <div class="ui card">
    <h1>Team Generator</h1>

    <ul class="list">
      <li *ngFor="let member of members">{{ member }}</li>
    </ul>
    <div class="add-members-container">
      <input
        #addMemberInput
        type="text"
        placeholder="Name"
        (input)="onInput(addMemberInput.value)"
        [value]="newMemberName"
      />
      <button (click)="addMember()">Add</button>
    </div>
    <div class="input-container">
      <input
        #numOfTeamsInput
        type="number"
        (input)="onNumTeamsInput(numOfTeamsInput.value)"
        [value]="numOfTeams"
        placeholder="# of teams"
      />

      <button (click)="generateTeams()">Generate</button>
    </div>
  </div>
  <p *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</p>

  <!-- THIS IS MY ATTEMPT
    <div *ngFor="let team of teams">
    <h2>{{ team }}</h2>
    <ul class="list">
      <li *ngFor="let member of team">{{ member }}</li>
    </ul>
  </div> -->
  <div *ngIf="teams.length > 0" class="teams-container">
    <app-team
      *ngFor="let team of teams; let index = index"
      [team]="team"
      [index]="index"
    ></app-team>
  </div>
</div>
